 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7F7F8;
    font-family: "Be Vietnam Pro", sans-serif;
}
:root{
    --main-color:#FF9500;
    --text-color:#262626;
}

.container{
    max-width: 1595px;
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
}
.margin-top{
    margin-top: 50px;
}
.margin-bottom{
    margin-bottom: 20px;
}

.pad-50{
   padding: 50px;
}

.gp-10{
    gap: 10px;
}

.top-baner{
    background-color: var(--main-color);
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    border-radius: 6px;
    padding: 10px;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F1F1F3;
    margin-bottom: 80px;
    
}
.menu{
    gap: 50px;
}
.logo{
    margin-top: 10px;
}
ul li{
    list-style-type: none;
    padding: 14px 24px;
    
}
ul li a{
    text-decoration: none;
    color:var(--text-color)
}

.btns{
    gap: 30px;
}
.light-btn{
    background-color: unset;
    border: unset;
    color: var(--text-color);
}
.color-btn{
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 18px 24px;
    border: unset;
    color: #FFFFFF;
    
}

 .abstract-Line{
    position: relative;
    left: 322px;
    top: 20px;
}


.heading{
    background-color: #FCFCFD;
    border: 1px solid #F1F1F3;
    padding: 14px 30px 14px 20px;
    gap: 10px;
    border-radius: 11px;
    
}
.heading h1{
    color: #1A1A1A;
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
   

}
.heading i{
    width: 62px;
    height: 62px;
    background-color:#FFF4E5 ;
    color: var(--text-color);
    padding: 14px;
    border-radius: 6px;
    
}

.mini-container{
    max-width: 900px;
    margin: 0 auto;
}
.hero-section span{
    color: var(--main-color);
}

.hero-section h2{
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    line-height: 150%;
    color: var(--text-color);
    margin-top: 20px;

}

.hero-section h6{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color);
    margin-top: 10px;
}
.hero-btns{
    justify-content: center;
    gap: 12px;
    margin-top: 50px;
    
}

.programes-section{
    border: 1px solid #F1F1F3;
    background-color: #FCFCFD;
    margin-top: 40px;
    border-radius: 12px;
    padding: 30px;
}

img{
    max-width: 100%;
}

.benefits-section h2{
    color:var(--text-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;

}

.benefits-section p{
    font-weight: 400px;
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}
.white-btn{
    border: 1px solid #F1F1F3;
    background-color: #FFFFFF;
    color: var(--text-color);
    border-radius: 8px;
    padding: 18px 24px;
}
.lorem {
    gap: 300px;
    justify-content: space-between;
}

.cards{
    gap: 10px;
    flex-wrap: wrap;

}
.cards-style{
    width: 519px;
    height: 437px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    padding: 50px;
    
}
.cards h1{
    font-weight: 700;
    font-size: 80px;
    line-height: 24px;
    text-align: right;
    color: var(--text-color);
    padding: 40px 0;
}
.cards h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.6px;
    color:#333333 ;
    padding-bottom: 20px;
}

.cards p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #4C4C4D;
    padding-bottom: 50px;
}
.cards i{
    color: var(--main-color);
    border: 1px solid #F1F1F3;
    background-color: #FCFCFD;
    width: 74px;
    height: 74px;
    text-align: center;
    border-radius: 8px;
    padding: 20px 20px;
    position: relative;
    left: 380px;
    
}
.courses-section h2{
    color:var(--text-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 15px;
}
.courses-section p{
    font-weight: 400px;
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}

.foto-side{
    flex-wrap: wrap;
    gap: 20px;
}
.web-design-style{
    border: 1px solid#F1F1F3 ;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 50px;
}

.btn-for-courses{
    border: 1px solid #F1F1F3;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 10px 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

}
.button-class{
    justify-content: space-between;

}

.courses-section h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--text-color);
    margin: 20px 20px;

}
.courses-section h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: var(--text-color);
    margin-bottom: 20px;
}

.courses-section p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #4C4C4D;
    margin-bottom: 40px;
}

.get-button{
    width: 683.5px;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
    background-color: #F7F7F8;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    padding: 18px 24px;
}

.testimonials-section h2{
    color:var(--text-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 15px;
}
.testimonials-section p{
    font-weight: 400px;
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}

.recommendators{
    flex-wrap: wrap;
    gap: 30px;
    
}
.recommendators p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:#4C4C4D ;
    padding-bottom: 40px;
}

.recommend{
    justify-content: space-between;
    background-color:#FCFCFD ;
    padding: 24px 40px;
}
.recommend h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 150px;
    color: #333333;
}

.recommend button{
    border: 1px solid #F1F1F3;
    border-radius: 6px;
    background-color:#F7F7F8 ;
    padding: 14px 16px;
}

.recommendators-style{
    border: 1px solid #F1F1F3;
    border: 12px;
    background-color: #FFFFFF
}


.prices-category{
    gap: 30px;
    padding: 80px;
    background-color: #FFFFFF;
    margin-top: 50px;
    border-radius: 12px;
    justify-content: center;
}

.prices h2{
    color:var(--text-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 15px;
}
.prices p{
    font-weight: 400px;
    font-size: 18px;
    line-height: 150%;
    color: #59595A;
}
.subscription-btn{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 12px;
    gap: 10px;
}
.mbtn{
    background-color: var(--main-color);
    border-radius: 6px;
    padding: 12px 24px;
    border: unset;
    color: #FFFFFF;
    font-size: 14px;
}
.ybtn{
    border-radius: 100px;
    padding: 12px 24px;
    color: #4C4C4D;
    font-size: 14px;
    border: unset;
    background-color: unset;
}

.free{
    border: 1px solid #F1F1F3;
    background-color: #FCFCFD;
    border-radius: 12px;
    padding: 40px 24px 24px 24px;
}

.free h5{
    border: 1px solid #FFEACC;
    background-color: #FFF9F0;
    border-radius: 4px;
    padding: 10px 22px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 169%;
    color: var(--text-color);
}
.price-free{
    justify-content: center;
    margin: 50px;
}

.fr-features{
    width: 703.5px;
    border: 1px solid #F1F1F3;
    background-color: #FFFFFF;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: 40px;
    gap: 30px;
}


.fr-features h6{
font-weight: 500;
font-size: 18px;
line-height: 150%;
color: var(--text-color);
text-align: center;
}

.fr-features div{
    border: 1px solid #F1F1F3;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 12px;
    gap: 8px;
}
.fr-features i{
    border-radius: 4px;
    padding: 4px;
    background-color:#FFF4E5 ;
}

.start{
    width: 703.5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--main-color);
    padding: 18px 24px;
    border: unset;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 150%;
}

.questions-section{
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 100px;
    margin-top: 100px;
    gap: 120px;
}

.questions-side div{
    justify-content: space-between;
}

.questions-side h6{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-color);
    margin-bottom: 20px;
}


.asked{
    gap: 120px;
    align-items: flex-start;
}
.asked h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: var(--text-color);
    margin-bottom: 10px;
}

.asked button{
    border: 1px solid #F1F1F3;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 18px 24px;
    color: var(--text-color);
    font-size: 18px;
    margin-top: 50px;
}

.first-part{
    border: 1px solid #F1F1F3;
    background-color:#FFFFFF ;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
}
.first-part p{
    color: var(--text-color);
    font-size: 18px;
    margin-top: 10px;
    padding: 8px;
}

.line-bottom{
    border-bottom: 1px solid #F1F1F3 ;
}
.diffrent, .support,.specific,.prerequisites, .download{
    border: 1px solid #F1F1F3;
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
}
.diffrent i {
    background-color: #FFFFFF;
    border: 1px solid  #F7F7F8;
    border-radius: 100px;
    padding: 20px;

}
.asked i{
    border-radius: 4px;
    padding: 4px;
    background-color:#FFF4E5 ;
}

.footer-menu{
    background-color: #FFFFFF;
    margin-top: 100px;
    justify-content: space-between;
    padding: 50px 100px 50px 20px ;

    
}
.about-menu{
    gap: 100px;
    padding-right: 50px;
    align-items: flex-start;
}
.contact img{
   padding-bottom: 20px;
}
.about-menu h6{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-color);
    padding-bottom: 10px;
}

.about-menu p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    
}
.about-menu a{
    text-decoration: none;
    color:#59595A ;
}
.social-icons{
    gap: 14px;
}
.social-icons i{
    width: 52px;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
    padding: 14px 14px;
    background-color: #F7F7F8;
    
}

footer{
    margin-bottom: 200px;
}
.c{
    text-align: center;
    margin-bottom: 100px;
}
.last{
    margin-bottom: 100px;
}